@import '../../../config/scss/index';
.HidebarContainer{
  z-index: 14;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: calc((100vh - 230px) / 2); left: calc((100vh - 230px) / -2);
  transform: rotate(-90deg);
  width: $height-main-content;
  padding: 0 20px;
  background-color: $black;
  border-bottom: 2px solid $router-bg;
  height: 30px;
  transition: all ease .3s;

  @include mobile{
    width: $height-main-content-mobile;
    top: calc((100vh - 180px) / 2); left: calc((100vh - 180px) / -2);
  }

}
        
