$primary: #E91E63;
$secondary: #6BDFFF;
$router-bg: #1D1D1D;
$black: #1A1A1A;
$dark: #0f0f0f;
$edge-padding: 30px;
$grey-select: #272727;
$height-main-content: calc(100vh - 300px);
$height-main-content-mobile: calc(100vh - 200px);
$github: #DBAB09;
