$primary: #E91E63;
$yellow: #FFA500;
$secondary: #6DC0C6;
$router-bg: #1D1D1D;
$black: #1A1A1A;
$dark: #0f0f0f;
$grey-select: #272727;
$github: #F6A434;
$text-secondary: #94A7B0;
$routerBg-light: #c4c4c4;
$black-light: #a0a0a0;
$light: #ffffff;
$greySelect-light: #F7F7F7;
$grey2C-light: #F4F4F4;
$greyHeader: #fafafa;
$edge-padding: 30px;
$height-main-content: calc(100vh - 200px);
$height-main-content-mobile: calc(100vh - 150px);
