@import '../../../config/scss/index';

.FoldersAndFilesContainer{
  padding: 20px;
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .folderItem{
    position: relative;
    display: flex;
    width: 100px;
    cursor: pointer;
    height: 100px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:hover .folderName, &:hover  .indicator{
      color: $primary;
    }


    .folderName{
      width: 100%;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .projectItem{
    position: relative;
    display: flex;
    width: 100px;
    cursor: pointer;
    height: 100px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:hover .projectName ,&:hover  .indicator{
      color: $primary;
    }

    .projectName{
      width: 100%;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }

  }

  .Icon{
    height: 80%;
    padding: 0 0 10px 0;
    font-size: 3rem;
    opacity: 0.8;
  }

  .indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    transition: all ease .3s;
  }
}
