@import "../../config/scss/index";

.HeaderContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #2C2C2C;
  padding: 20px $edgePadding;
  //border-radius: 20px 20px 0 0;

  @include pc{
    height: 50px;
  }
  @include mobile{
    height: 50px;
  }

  .HeaderLeftButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .button{
      border-radius: 50%;
      margin-right: 7px;
      width: 20px;
      height: 20px;
      opacity: 0.5;
      transition: all ease-out 0.3s;

      &:hover{
        opacity: 1;
      }
    }
    .close{
      background-color: #ff565e;
    }
    .yellow{
      background-color: #fff164;
    }
    .green{
      background-color: #36c31d;
    }
  }
  .HeaderLogo{}
  .HeaderPath{
    font-size: 25px;
  }
  .HeaderRightButtons{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .button {
      margin-left: 10px;
      transition: all ease-in 0.3s;

      svg {
        font-size: 25px;

        &:hover{
          color: $primary;
        }
      }

      img {
        outline: transparent;
        transition: all ease-in 0.3s;

        &:hover{
          outline: 2px solid $primary;
        }
      }
    }
  }
}
