@import "../../config/scss/index";

.HeaderContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #2C2C2C;
  padding: 20px $edge-padding;
  //border-radius: 20px 20px 0 0;

  @include pc{
    height: 50px;
  }
  @include mobile{
    height: 50px;
  }

  .HeaderLeftButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .button{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 7px;
      width: 20px;
      height: 20px;
      //opacity: 0.5;
      transition: all ease-out 0.3s;

      &:hover .icon{
        opacity: 1;
      }
      .icon {
        opacity: 0;
        transition: all ease-out 0.3s;
        width: 20px;
        height: 20px;
      }
    }
    .close{
      background-color: #ff565e;
    }
    .yellow{
      background-color: #fff164;
    }
    .green{
      background-color: #36c31d;
    }
  }
  .HeaderLogo{
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .HeaderRightButtons{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .button {
      max-width: 30px;
      margin-left: 10px;
      transition: all ease-in 0.3s;

      svg {
        font-size: 25px;
        color: white;

        &:hover{
          color: $primary;
        }
      }
    }
  }
}
