@import '../../config/scss/index';
.RightPanelContainer{
  background-color: $dark;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;

  @include pc{
    height: $heightMainContent;
    width: 30%;
  }
  @include mobile{
    height: $heightMainContentMobile;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
  }
}
