* {
  box-sizing: border-box;
}

ul {
    text-decoration: none;

    li {
        text-decoration: none;
    }
}

.AppContainer {
  position: relative;
  width: 100%;
  height: $heightMainContent;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease-in 0.5s;

  @include mobile{
    height: $heightMainContentMobile;
  }
}
////


