//@media screen and (orientation:landscape) and (max-device-width: 999px) {
//  html{
//    -webkit-transform: rotate(-90deg);
//    -moz-transform: rotate(-90deg);
//    -ms-transform: rotate(-90deg);
//    -o-transform: rotate(-90deg);
//    transform: rotate(-90deg);
//    -webkit-transform-origin: left top;
//    -moz-transform-origin: left top;
//    -ms-transform-origin: left top;
//    -o-transform-origin: left top;
//    transform-origin: left top;
//    width: 100vh;
//    height: 100vw;
//    position: absolute;
//    top: 100%;
//    left: 0
//  }
//}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1D;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;

  li {
    text-decoration: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
