@import '../../config/scss/index';
.AboutPageContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .noMobile{
    @include mobile{
      display: none;
    }
  }

  .main{
    overflow: auto;


    @include pc{
      height: $height-main-content;
      width: 70%;
      padding: 20px;
    }
    @include mobile{
      height: $height-main-content-mobile;
      width: 100%;
      padding: 10px;
      padding-left: 40px;
    }
  }

  .sidePanelWrapper{
    position: relative;
    height: $height-main-content;
    width: 30%;

    @include mobile{
      height: $height-main-content-mobile;
    }
  }

  .title{
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 20px 0;
  }

  .shortInfo{
    font-size: 20px;
    margin: 0 0 30px 0;
  }

  @mixin pathItem($color) {
    //border-left: 2px solid $color;
    background-color: $black;
    padding: 40px 30px 50px 50px;

    .item{
      padding: 0 0 10px 0;
      font-size: 20px;

      .count{}
      .name{
        position: relative;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;

        .icon{
          position: absolute;
          top: calc(50% - 15px);
          left: -40px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        span{
          font-weight: bold;
          //border-bottom: 2px solid $color;
        }
      }
      .date{
        white-space: nowrap;
        overflow: hidden;
        padding: 0 10px;
        opacity: .6;
      }
      .note{
        opacity: .8;
        @include mobile{
          display: none;
        }
      }
    }
  }

  @mixin pathTitle($color){
    font-weight: bold;
    color: $color;
    font-size: 25px;
    //border-left: 2px solid $color;
    padding: 0 0 10px 0px;
  }
  .workPathTitle{
    @include pathTitle($secondary)
  }

  .educationTitle{
    margin: 30px 0 0px 0;
    @include pathTitle($primary)
  }
  .workPath{
    @include pathItem($secondary)
  }
  .educationPath{
    @include pathItem($primary)
  }
}
